<header>
  <div>
    <a class="logo" href="/">Index</a>
  </div>
  <div>
    <a href="/users/new">Add User</a>
  </div>
  <div>
    <a href="/articles/new">Add Article</a>
  </div>
  <div>
    <a href="/articles">All Article</a>
  </div>
</header>